Repository biochenistry/sop-organizer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build

backend-build:
  stage: backendtry
  tags:
  - node
  script:
  - pm2 kill
  - sudo pm2 start api
  - sudo pm2 status
  - cd backend
  - npm install
  - sudo pm2 delete "server_backend" 2> /dev/null || true
  - sudo pm2 start npm --name "server_backend" -- run start

frontend-build:
  stage: frontendtry
  tags:
  - vue
  script:
  - pm2 status
  - cd frontend
  - npm set-script prepare ''
  - npm install
  - pm2 delete "server_frontend" 2> /dev/null || true
  - pm2 start npm --name "server_frontend" -- run start

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file (forgot pm2)
  .gitlab-ci.yml
Due: none

fix value for cicd
  frontend/nuxt.config.js
Due: frontend-build

Hopeful fix for CI/CD
  .gitlab-ci.yml
  frontend/ecosystem.config.js
  frontend/src/services/users.ts
Due: frontend-build

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Drag sop
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/sop.controller.js
  backend/src/models/document.model.js
  backend/src/models/sop.model.js
  backend/src/routes/sop.routes.js
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DirectoryChangeModal.vue
  frontend/src/components/DirectoryModal.vue
  frontend/src/components/Editor.vue
  frontend/src/components/LoginModal.vue
  frontend/src/components/RegisterModal.vue
  frontend/src/components/Upload.vue
  frontend/src/layouts/default.vue
  frontend/src/pages/document/_.vue
  frontend/src/services/auth.ts
  frontend/src/services/directories.ts
  frontend/src/services/documents.ts
  frontend/src/services/sops.ts
  frontend/src/services/users.ts
  frontend/src/types/index.ts
Due: backend-build, frontend-build

Debug uploading
  backend/src/controllers/document.controller.js
Due: none

Path conditions:
  backend-build: any of: backend/*
  frontend-build: any of: frontend/*
